div {
  text-align: center;
}

.italic-text {
  font-style: italic;
}

.bold-text {
  font-weight: bold;
}

.underline-text {
  text-decoration: underline;
}

.red-text {
  color: rgba(169, 3, 3, 0.883);
}

.strike-through-text {
  text-decoration: line-through;
}

.comic-sans-ms-text {
  font-family: "Comic Sans MS", monospace;
}

.green-divider {
  border: none;
  border-top: 3px solid #1f6f02;
  width: 70%;
  margin: 20px auto;
}
